<div class="">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto justify-content-between">
        <li class="nav-item">
          <a class="navbar-brand" href="#">Moviium</a>
        </li>
        <div class="">
          <li class="nav-item">
            <a class="nav-link" href="#" role="button">Discover</a>
          </li>
          <li class="nav-item">
            <a routerLink="film" class="nav-link" href="#" role="button"
              >My list</a
            >
          </li>
        </div>
        <li class="nav-item">
          <button type="button" routerLink="login" class="btn btn-warning mr-sm-2">LogIn</button>
          <button type="button" class="btn btn-warning">SignUp</button>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
